<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Elemele{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            *{
                box-sizing: border-box;
            }
            html,body{
                margin: 0;
                background-color: #0f0f0f;
                color: #ffffff;
                font-family: Arial, sans-serif;
            }
            main{
                width: 100vw;
                height: 100vh;
                top: 0;
                position: absolute;
            }
            section{
                width: 100%;
            }
            h1{
                font-family: Impact, sans-serif;
                text-align: center;
                font-size: 80px;
                margin-top: 75px;
            }
            h2{
                text-align: center;
                font-size: 48px;
                margin-bottom: 200px;
            }
            h3{
                text-align: center;
                font-size: 32px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                font-size: 48px;
            }
            .house-wrap{
                display: flex;
                flex-wrap: wrap;
                align-content: start;
                justify-content: flex-start;
            }
            .house-wrap > a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50vw;
                height: 50vw;
                border: solid 2px #fff;
            }
            label {
                color: #fff;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 48px;
            }
            section input, select {
                width: 100%;
                border: none;
                height: 80px;
                font-size: 72px;
            }
            .login-button{
                background-color: #273927;
                width: 100%;
                margin-top: 50px;
                height: 300px;
                font-size: 48px;
                color: #fff;
                border: none;
                position: absolute;
                bottom: 0;
            }
            .back-button{
                position: absolute;
                top: 0;
                left: 50px;
                font-size: 80px;
                margin-top: 75px;
            }
            .flash-notice{
                position: absolute;
                color: #ff9999;
                font-size: 72px;
                text-align: center;
                width: 100%;
                padding-top: 75px;
                padding-bottom: 75px;
                background-color: #0a0a0a99;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            function hide(elem){
                elem.style.display = 'none';
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        {% for message in app.flashes('error') %}
            <div class="flash-notice" onclick="hide(this)">
                {{ message }}
            </div>
        {% endfor %}
        <a href="/houses/{{ house.id }}/rooms/{{ room.id }}"><h1 class='back-button'><</h1></a>
        <a href="/houses/{{ house.id }}/rooms/{{ room.id }}"><h1>ElemeleApp</h1></a>
        <h2>Dodawanie obowiązku do pokoju<br>{{ room.name }}</h2>
        <form method="post" action="/api/houses/{{ house.id }}/rooms/{{ room.id }}/chores.form">
            <section>
                <label for="name">Nazwa obowiązku</label>
                <input type="text" minlength="1" required name="name">
                <label for="interval">Interwał</label>
                <input type="number" min="0" required name="interval">
                <label for="initial_date">Początkowa data</label>
                <input type="date" required name="initial_date">
                <label for="user_id">Osoba odpowiedzialna</label>
                <select name="user_id" required>
                    {% for user in house_users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </section>
            <input type="submit" value="Dodaj" class="login-button">
            <section style="display: none">
                <label for="icon_id">ikona</label>
                <input type="text" name="icon_id" value="a06478fe-92fa-4cd9-a583-03f308e36f60">
                <input type="text" name="redirect_address" value="/houses/{{ house.id }}/rooms/{{ room.id }}">
            </section>
        </form>
    </main>
{% endblock %}
</body>
</html>
